@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}
nav {
  background-color: rgb(255, 255, 255);
}
header > h1 {
  color: rgb(0, 0, 0);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(232, 231, 231);
  padding: 1.5rem;
}

header > div > button {
  border: none;
  outline: none;
  padding: 0.6rem;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  background-color: rgb(157, 123, 220);
}

.new-task {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-icon {
  color: rgb(174, 171, 171);
  font-size: 1.3rem;
}
